body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#logo img {
  grid-area: lg;
  width: 5vw;
  height: 5vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: transform 1s;
  cursor: pointer;
}
#logo img:hover {
  transform: rotate(360deg);
}
/* .logo:hover ~ .navbuttons{
    opacity: 1;
    pointer-events: auto;
} */
.navbuttons {
  grid-area: hd;
  font-family: chalkduster, fantasy;
  font-weight: bold;
  color: rgb(181, 63, 65);
  font-size: larger;
  border-radius: 10px;
  padding: 15px;
  border: 2px solid rgb(181, 63, 65);
  opacity: 0;
  pointer-events: none; /* Disable pointer events when hidden */
  transition: opacity 2s ease-in-out;
  cursor: pointer;
}
.hd {
  height: 15vh;
  width: 100vw;

  background-color: rgb(218, 205, 205);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 0;
  border-bottom: 5px solid rgb(181, 63, 65);
}
.mn {
  grid-area: mn;
  backdrop-filter: brightness(0.4);
  min-height: 40vh;
  width: 100vw;
  margin: 0;
  margin-bottom: 5px;
  border-bottom: 5px solid rgb(181, 63, 65);
}
.slides {
  width: 100%;
  height: 100%;
  justify-content: center;
  right: 80px;
  transition: opacity 2s ease-in-out;
}

.ft {
  grid-area: ft;
  min-height: 10vh;
  width: 100vw;
  background-color: rgb(218, 205, 205);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 0;
  border-top: 2px solid rgb(181, 63, 65);
  border-bottom: 2px solid rgb(181, 63, 65);
}

.txtbox {
  grid-area: txt;
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: auto;
  margin-top: 0;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 5px;
  background-color: #fffff0;
}
.picbox {
  grid-area: txt;

  border-radius: 12px;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  margin: 15px;
  border-style: inset;
  border: 0px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 100%;
}
.picbox img {
  width: 102%;
  height: 102%;
  border-radius: 12px;
}
.content {
  grid-area: txt;
  padding: 5px;
  margin: 15px;
  border: 0.1px solid;
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  border-style: inset;
  background-color: white;
  border-color: rgb(181, 63, 65);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  text-decoration: solid;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.content p {
  color: grey;
}
.txtbox2 {
  grid-area: txt;
  background-color: white;
  padding: 5px;
  margin: 15px;
  border: 0.1px solid;
  border-radius: 12px;
  text-decoration: solid;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 120%;
  border-style: inset;
  border-color: rgb(181, 63, 65);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
h3 {
  color: rgb(181, 63, 65);
  font-family: chalkduster, fantasy;
}
.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "lg hd hd"
    "mn mn mn"
    "txt txt txt"
    "ft ft cp";
  min-height: 100vh;
  min-width: 100vw;
  row-gap: 0px;
}
.no-spin {
  transform: none !important;
}
#flogo img {
  height: 3vw;
  width: 3vw;
  grid-area: ft;
  display: block;
  margin-left: 100%;
}
.copyright {
  display: inline;
  margin-right: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
.navbuttons:hover {
  animation: vibrate 0.5s ease-in-out;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
}
